<div class="container">
  <div class="coll-1">
    <h1><%= Profile.model_name.human %></h1>
  </div>

  <div class="d-flex p-2">
    <dl class="row">
      <dt class="col-sm-2"><%= Profile.human_attribute_name('name') %></dt>
      <dd class="col-sm-9"><%= @profile.name %></dd>

      <dt class="col-sm-2"><%= Profile.human_attribute_name('social_name') %></dt>
      <dd class="col-sm-9"><%= @profile.social_name %></dd>

      <dt class="col-sm-2"><%= Profile.human_attribute_name('date_of_birth') %></dt>
      <dd class="col-sm-9"><%= @profile.date_of_birth %></dd>

      <dt class="col-sm-2"><%= Profile.human_attribute_name('formations') %></dt>
      <dd class="col-sm-9"><%= @profile.formations %></dd>

      <dt class="col-sm-2"><%= Profile.human_attribute_name('xp') %></dt>
      <dd class="col-sm-9"><%= @profile.xp %></dd>
    </dl>
  </div>
  
  <div class="actions">
    <%= link_to Profile.human_attribute_name('edit'), root_path, class: "btn btn-primary" %>
  </div>

  <div class="text-center">
    <br/>
    <h2>Comentarios</h2>
    <br/>
  </div>

  <div class="col-sm-5">
    <%= form_with model: @comment_of_profile, local: true do |f| %>
      <div class="form-group">
        <h3><%= f.label :comment, CommentOfProfile.human_attribute_name('comment') %></h3>
        <%= f.text_area :comment, class: "form-control" %>
      </div>

      <%= f.hidden_field :profile_id, value: @profile_id %>

      <div class="actions">
        <%= f.submit CommentOfProfile.human_attribute_name('submit'), class: "btn btn-success" %>
      </div>
      <br/>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <% @comment_profiles.each do |comment_profile| %>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><%= comment_profile.user.email %></h3>
            <h5 class="card-text"><%= comment_profile.comment %></h5>
            <p class="card-text"><%= I18n.l comment_profile.created_at, format: :long %></p>
          </div>
        </div>
        <br/>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <br/>
    <%= link_to Profile.human_attribute_name('back'), :back, class: "btn btn-dark" %>
  </div>
</div>