<div class="container">
  <div>
    <% if policy(current_user).user_headhunter? %>
      <% if @favorite.id.nil? %>
        <div class="d-flex flex-row">
          <h1><%= Profile.model_name.human %></h1>
          <%= form_with model: @favorite, local: true do |f| %>
            <%= f.hidden_field :profile_id, value: @profile_id %>

            <div class="actions">
              <div class="d-flex align-self-center">
                <%= f.submit Favorite.human_attribute_name('favor'), class: "btn btn-warning" %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="d-flex flex-row">
          <h1><%= Profile.model_name.human %></h1>
          <div class="align-self-center">
            <span class="badge badge-warning">Favoritado</span>
          </div>
        </div>
      <% end %>
    <% else %>
      <h1><%= Profile.model_name.human %></h1>
    <% end %>
  </div>

  <div class="d-flex p-2">
    <dl class="row">
      <dt class="col-sm-2"><%= Profile.human_attribute_name('name') %></dt>
      <dd class="col-sm-9"><%= @profile.name %></dd>

      <dt class="col-sm-2"><%= Profile.human_attribute_name('social_name') %></dt>
      <dd class="col-sm-9"><%= @profile.social_name %></dd>

      <dt class="col-sm-2"><%= Profile.human_attribute_name('date_of_birth') %></dt>
      <dd class="col-sm-9"><%= I18n.l @profile.date_of_birth, format: :default %></dd>

      <dt class="col-sm-2"><%= Profile.human_attribute_name('formations') %></dt>
      <dd class="col-sm-9"><%= @profile.formations %></dd>

      <dt class="col-sm-2"><%= Profile.human_attribute_name('xp') %></dt>
      <dd class="col-sm-9"><%= @profile.xp %></dd>
    </dl>
  </div>
  
  <% if current_user.id == @profile.user_id %>
    <div class="actions">
      <%= link_to Profile.human_attribute_name('edit'), root_path, class: "btn btn-primary" %>

      <%= link_to Profile.human_attribute_name('messages'), profile_messages_path(@profile), 
          class: "btn btn-info" %>
    </div>
  <% end %>

  <div class="text-center">
    <br/>
    <h2>Comentarios</h2>
    <br/>
  </div>

  <% if policy(current_user).user_headhunter? %>
    <div class="col-sm-5">
      <%= form_with model: @comment_of_profile, local: true do |f| %>
        <div class="form-group">
          <h3><%= f.label :comment, CommentOfProfile.human_attribute_name('comment') %></h3>
          <%= f.text_area :comment, class: "form-control" %>
        </div>

        <%= f.hidden_field :profile_id, value: @profile_id %>

        <div class="actions">
          <%= f.submit CommentOfProfile.human_attribute_name('submit'), class: "btn btn-success" %>
        </div>
        <br/>
      <% end %>
    </div>
  <% end %>

  <% if @comment_profiles.present? %>
    <div class="row">
      <div class="col-sm-5">
        <% @comment_profiles.each do |comment_profile| %>
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><%= comment_profile.user.email %></h3>
              <h5 class="card-text"><%= comment_profile.comment %></h5>
              <p class="card-text"><%= I18n.l comment_profile.created_at, format: :long %></p>
            </div>
          </div>
          <br/>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="text-center">
      <h3><%= Profile.human_attribute_name('empty') %></h3>
    </div>
  <% end %>

  <div class="actions">
    <br/>
    <%= link_to Profile.human_attribute_name('back'), :back, class: "btn btn-dark" %>
  </div>
</div>