<div class="container">
  <div class="coll-1">
    <h1><%= Profile.model_name.human %></h1>
  </div>

  <div class="d-flex p-2">
    <dl class="row">
      <dt class="col-sm-2"><%= Profile.human_attribute_name('name') %></dt>
      <dd class="col-sm-9"><%= @profile.name %></dd>

      <dt class="col-sm-2"><%= Profile.human_attribute_name('social_name') %></dt>
      <dd class="col-sm-9"><%= @profile.social_name %></dd>

      <dt class="col-sm-2"><%= Profile.human_attribute_name('date_of_birth') %></dt>
      <dd class="col-sm-9"><%= @profile.date_of_birth %></dd>

      <dt class="col-sm-2"><%= Profile.human_attribute_name('formations') %></dt>
      <dd class="col-sm-9"><%= @profile.formations %></dd>

      <dt class="col-sm-2"><%= Profile.human_attribute_name('xp') %></dt>
      <dd class="col-sm-9"><%= @profile.xp %></dd>
    </dl>
  </div>
  
  <div class="actions">
    <%= link_to Profile.human_attribute_name('edit'), root_path, class: "btn btn-primary" %>
  </div>

  <div class="actions">
    <br/>
    <%= link_to Profile.human_attribute_name('back'), root_path, class: "btn btn-dark" %>
  </div>
</div>