<div class="container">
  <div class="text-center">
    <h1 class="display-3"><%= Profile.human_attribute_name('messages') %></h1>
    <br/>
  </div>

  <% if @vacuancy_jobs[0].comment_of_proposals.empty? && @vacuancy_jobs[0].comment_of_rejects.empty? %>
    <div class="text-center">
      <h3><%= Profile.human_attribute_name('empty') %></h3>
    </div>
  <% end %>

  <%= render partial: 'nav_msg' %>

  <% if @vacuancy_jobs[0].comment_of_proposals.present? %>
    <%= render partial: 'proposals' %>
  <% end %>

  <% if @vacuancy_jobs[0].comment_of_rejects.present? %>
    <%= render partial: 'rejects' %>
  <% end %>

  <div class="actions">
    <br/>
    <%= link_to Profile.human_attribute_name('back'), :back, class: "btn btn-dark" %>
  </div>
</div>