<div class="container">
  <div class="text-center">
    <h1 class="display-3">Minhas inscrições</h1>
    <br/>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <% @job_applications.each do |vacuancy| %>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><%= link_to vacuancy.vacuancy_job.title, vacuancy_job_path(vacuancy.vacuancy_job) %></h3>
            <p class="card-text"><%= vacuancy.vacuancy_job.description %></p>
            <h4 class="card-title"><%= JobApplication.human_attribute_name('comment') %></h4>
            <p class="card-text"><%= vacuancy.comment %></p>
          </div>
        </div>
        <br/>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <br/>
    <%= link_to Profile.human_attribute_name('back'), :back, class: "btn btn-dark" %>
  </div>
</div>