<div class="container">
  <div class="text-center">
    <h1 class="display-3"><%= VacuancyJob.model_name.human %></h1>
    <h2><%= @vacuancy_job.title %></h2>
    <br/>
  </div>

  <div>
    <h4><%= VacuancyJob.human_attribute_name("status.#{@vacuancy_job.status}") %></h4>
  </div>

  <div class="d-flex p-2">
    <dl class="row">
      <dt class="col-sm-2"><%= VacuancyJob.human_attribute_name('title') %></dt>
      <dd class="col-sm-9"><%= @vacuancy_job.title %></dd>

      <dt class="col-sm-2"><%= VacuancyJob.human_attribute_name('description') %></dt>
      <dd class="col-sm-9"><%= @vacuancy_job.description %></dd>

      <dt class="col-sm-2"><%= VacuancyJob.human_attribute_name('ability_description') %></dt>
      <dd class="col-sm-9"><%= @vacuancy_job.ability_description %></dd>

      <dt class="col-sm-2"><%= VacuancyJob.human_attribute_name('salary') %></dt>
      <dd class="col-sm-9">Entre <%= number_to_currency(@vacuancy_job.initial_salary) %> a <%= 
        number_to_currency(@vacuancy_job.end_salary) %>
      </dd>

      <dt class="col-sm-2"><%= VacuancyJob.human_attribute_name('level') %></dt>
      <dd class="col-sm-9"><%= @level_selection[@vacuancy_job.level][0] %></dd>

      <dt class="col-sm-2"><%= VacuancyJob.human_attribute_name('limit_date') %></dt>
      <dd class="col-sm-9"><%= I18n.l @vacuancy_job.limit_date, format: :default %></dd>

      <dt class="col-sm-2"><%= VacuancyJob.human_attribute_name('addresse') %></dt>
      <dd class="col-sm-9"><%= @vacuancy_job.addresse %></dd>

      <dt class="col-sm-2">Criado por: </dt>
      <dd class="col-sm-9"><%= @vacuancy_job.user.email %></dd>
    </dl>
  </div>
  
  <div class="actions">
    <% if current_user.id == @vacuancy_job.user_id %>
      <%= link_to Profile.human_attribute_name('edit'), root_path, class: "btn btn-primary" %>

      <% if @vacuancy_job.status == 'active' %>
        <%= link_to VacuancyJob.human_attribute_name('close'), vacuancy_job_path(@vacuancy_job), 
            method: 'patch', 
            class: "btn btn-danger" %>
      <% end %>
    <% end %>

    <% if policy(current_user).user_candidate? %>
      <% if @application == false %>
        <%= link_to JobApplication.human_attribute_name('sign_up'), 
            new_job_application_path(vacuancy_job_id: @vacuancy_job), 
            class: "btn btn-success" %>
      <% end %>
    <% end %>
  </div>

  <div class="text-center">
    <br/>
    <h2><%= JobApplication.human_attribute_name('subscribers') %></h2>
    <br/>
  </div>
  
  <div class="row">
    <div class="col-sm-5">
      <% @job_applications.each do |job_application| %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= job_application.user.profile.name %></h5>
            <h4 class="card-title"><%= job_application.user.profile.formations %></h4>
            <p class="card-text"><%= job_application.comment %></p>
            <% if job_application.user.comment_of_proposal.present? %>
              <p class="card-text">
                <%= CommentOfProposal.human_attribute_name("status.#{job_application.user.comment_of_proposal[0].status }") %>
              </p>
              <%= link_to Profile.model_name.human, job_application.user.profile, class: "btn btn-info" %>
            <% else %>
              <%= link_to Profile.model_name.human, job_application.user.profile, class: "btn btn-info" %>
              <% if current_user.id == @vacuancy_job.user_id %>
                <%= link_to CommentOfReject.human_attribute_name('reject'), 
                new_vacuancy_job_comment_of_reject_path(@vacuancy_job, user_id: job_application.user_id), 
                class: "btn btn-danger" %>

                <%= link_to CommentOfProposal.human_attribute_name('send_proposal'), 
                new_vacuancy_job_comment_of_proposal_path(@vacuancy_job, user_id: job_application.user_id), 
                class: "btn btn-success" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <br/>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <br/>
    <%= link_to Profile.human_attribute_name('back'), :back, class: "btn btn-dark" %>
  </div>
</div>