<!DOCTYPE html>
<html>
  <head>
    <title>HeadhunterWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav justify-content-end">

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Inicio", 
          root_path, :class => 'nav-link'  %>
        </li>

        <% if policy(current_user).user_candidate? %>
          <% if current_user.profile.present? %>
            <li class="nav-item">
              <%= link_to Profile.model_name.human, 
              profile_path(current_user.id), :class => 'nav-link'  %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to Profile.model_name.human, 
              new_profile_path, :class => 'nav-link'  %>
            </li>
          <% end %>
        <% end %>
        
        <li class="nav-item">
          <%= link_to "Sair", 
          destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Inicio", 
          root_path, :class => 'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to User.human_attribute_name('log_in'), 
          new_user_session_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to User.human_attribute_name('sign_up'), 
          new_user_registration_path, :class => 'nav-link' %>
        </li>
      <% end %>
      
    </ul>

    <% flash.each do |key, msg| %>
      <div class="d-flex flex-row">
        <% if key == 'notice' %>
          <p class="alert alert-success"><%= msg %></p>
        <% elsif key == 'alert' %>
          <p class="alert alert-danger"><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
